<app-header></app-header>
<app-banner></app-banner>
<app-search-form></app-search-form>
<app-about-us></app-about-us>
<app-recom-hotels></app-recom-hotels>
<app-category></app-category>
<app-recom-flights></app-recom-flights>
<app-recom-cruise></app-recom-cruise>
<app-services></app-services>
<!--<app-recom-cars></app-recom-cars>  -->
<app-omra-section></app-omra-section>
<section class="section-padding why-choose-testimonials">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <app-why-us></app-why-us>
            </div>
            <div class="col-xl-7 col-lg-6">
                <app-testimonials></app-testimonials>
            </div>
        </div>
    </div>
</section>

<app-blogs></app-blogs>
<app-team></app-team>
<app-partners></app-partners>
<app-footer></app-footer>
