<!-- Start Footer -->
<footer class="section-padding footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-box mb-md-40">
                    <h4 class="text-custom-white fw-600">About Us</h4>
                    <p class="text-custom-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <p class="text-custom-white">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry...
                    </p>
                    <ul class="custom-flex socials">
                        <li><a href="#" class="text-custom-white fs-14"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" class="text-custom-white fs-14"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" class="text-custom-white fs-14"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#" class="text-custom-white fs-14"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box mb-md-40">
                    <h4 class="text-custom-white fw-600">Quick Links</h4>
                    <ul class="custom links">
                        <li>
                            <a routerLink="/" class="text-custom-white">Home</a>
                        </li>
                        <li>
                            <a routerLink="/hotel-grid" class="text-custom-white">Hotels</a>
                        </li>
                        <li>
                            <a routerLink="/flight-grid" class="text-custom-white">Flights</a>
                        </li>
                        <li>
                            <a routerLink="/cruise-grid" class="text-custom-white">Cruise</a>
                        </li>
                        <li>
                            <a routerLink="/blog-grid" class="text-custom-white">Blog</a>
                        </li>
                        <li>
                            <a routerLink="/error-page" class="text-custom-white">404</a>
                        </li>
                        <li>
                            <a routerLink="/contact" class="text-custom-white">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box mb-sm-40">
                    <h4 class="text-custom-white fw-600">Instagram</h4>
                    <ul class="custom instagram gallery-grid">
                        <!-- Data -->
                        <li *ngFor="let item of insta | slice:0:9">
                            <a [href]="item.image" class="text-custom-white popup">
                                <img [src]="item.image" class="image-fit" alt="img">
                            </a>
                        </li>
                        <!-- Data -->
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box mb-sm-40">
                    <h4 class="text-custom-white fw-600">Newsletter</h4>
                    <div class="newsletter">
                        <p class="text-custom-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        <form>
                            <div class="form-group">
                                <input type="email" name="#" class="form-control form-control-custom" placeholder="Email I'd" required>
                            </div>
                            <button type="submit" class="btn-first btn-submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
<!-- Start Copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="text-custom-white">© Website - 2022 | All Right Reserved. <a href="#"  class="text-custom-white">Designed By Website</a></p>
            </div>
        </div>
    </div>
</div>
<!-- End Copyright -->
<div id="back-top" class="back-top" [ngClass]="windowScrolled ? 'd-block':''">
  <a href="javascript:void(0)"><i class="flaticon-arrows"></i></a>
</div>