<section class="section-padding bg-light-white listing-details" *ngFor="let item of hoteldetails">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="listing-details-inner bx-wrapper bg-custom-white padding-20">
                    <div class="row">
                        <div class="col-lg-8"> 
                            <ngx-slick-carousel [config]="settings" class="detail-slider-for mb-xl-20 magnific-gallery">
                                <!-- Data -->
                                <div ngxSlickItem class="slide-item" *ngFor="let image of item.image">
                                    <a [href]="image" class="popup">
                                        <img [src]="image" class="image-fit" [alt]="item.title">
                                    </a>
                                </div>
                                <!-- Data -->
                            </ngx-slick-carousel>
                            <ngx-slick-carousel [config]="settingsThumb" class="detail-slider-nav row">
                                <!-- Data -->
                                <div ngxSlickItem class="slide-item col-12" *ngFor="let image of item.image">
                                    <img [src]="image" class="image-fit" [alt]="item.title">
                                </div>
                                <!-- Data -->
                            </ngx-slick-carousel> 
                            <hr>
                            <div class="listing-meta-sec mb-md-80">
                                <div class="tabs">
                                    <ul ngbNav #nav="ngbNav" class="custom-flex nav nav-tabs mb-xl-20">
                                        <li [ngbNavItem]="1">
                                            <a ngbNavLink>Overview</a>
                                            <ng-template ngbNavContent>
                                                <div class="tab-inner">
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <div class="hotel-type mb-xl-20 bg-light-white padding-10">
                                                                <ul class="custom">
                                                                    <li class="text-light-dark"><label
                                                                            class="no-margin text-custom-blue">hotel
                                                                            type:</label>{{item.rating}} star</li>
                                                                    <li class="text-light-dark"
                                                                        *ngFor="let hotelinfo of item.overview.hotelinfo">
                                                                        <label
                                                                            class="no-margin text-custom-blue">{{hotelinfo.title}}:</label>{{hotelinfo.text}}
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-7">
                                                            <div
                                                                class="listing-testimonial padding-20 bg-light-white mb-xl-20">
                                                                <ngx-slick-carousel [config]="settingsTesti"
                                                                    class="testimonial-inner detail-testimonial">
                                                                    <!-- Data -->
                                                                    <div ngxSlickItem class="tesimonial-item"
                                                                        *ngFor="let testimonials of getTestimonials(item.overview.testimonials)">
                                                                        <cite
                                                                            class="text-custom-blue fs-16">{{testimonials.text
                                                                            | slice:0:135}}</cite>
                                                                        <div class="testimonial-author"
                                                                            *ngFor="let author of getAuthor(testimonials.author)">
                                                                            <div class="author-img">
                                                                                <img [src]="author.image"
                                                                                    class="rounded-circle"
                                                                                    [alt]="author.name">
                                                                            </div>
                                                                            <div class="author-name ml-2">
                                                                                <h6
                                                                                    class="text-custom-black no-margin fs-14 fw-500">
                                                                                    {{author.name}}</h6>
                                                                                <p class="no-margin text-light-dark">
                                                                                    {{author.post}}</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- Data -->
                                                                </ngx-slick-carousel>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="information">
                                                                <h4 class="text-custom-black">About {{item.title}}</h4>
                                                                <div class="htmltext" [innerHtml]="item.overview.text"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </li>
                                        <li [ngbNavItem]="2">
                                            <a ngbNavLink>Amenities</a>
                                            <ng-template ngbNavContent>
                                                <h4 class="text-custom-black">{{item.includes.title}}</h4>
                                                <p class="text-light-dark">{{item.includes.text}}</p>
                                                <ul class="custom amenities row no-gutters">
                                                    <!-- Data -->
                                                    <li class="col-md-4 col-sm-6"
                                                        *ngFor="let accomodation of getAccomodation(item.includes.accomodation)">
                                                        <div class="icon-box text-light-dark">
                                                            <i [class]="accomodation.icon"></i>
                                                            {{accomodation.title}}
                                                        </div>
                                                    </li>
                                                    <!-- Data -->
                                                    <!-- Data -->
                                                    <li class="col-md-4 col-sm-6"
                                                        *ngFor="let amenities of getAmenities(item.includes.amenties)">
                                                        <div class="icon-box text-light-dark">
                                                            <i [class]="amenities.icon"></i>
                                                            {{amenities.title}}
                                                        </div>
                                                    </li>
                                                    <!-- Data -->
                                                </ul>
                                            </ng-template>
                                        </li>
                                        <li [ngbNavItem]="3">
                                            <a ngbNavLink>FAQs</a>
                                            <ng-template ngbNavContent>
                                                <ngb-accordion [closeOthers]="true" activeIds="static-1"
                                                    class="custom-accordion d-block">
                                                    <ngb-panel id="static-{{1+i}}"
                                                        *ngFor="let faq of item.faqs;let i = index">
                                                        <ng-template ngbPanelTitle>
                                                            {{faq.title}}
                                                        </ng-template>
                                                        <ng-template ngbPanelContent>
                                                            <div [innerHtml]="faq.text"></div>
                                                        </ng-template>
                                                    </ngb-panel>
                                                </ngb-accordion>
                                            </ng-template>
                                        </li>
                                    </ul>
                                    <div [ngbNavOutlet]="nav"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="col-12">
                                    <div class="quick-quote bx-wrapper padding-20 mb-xl-30">
                                        <h5 class="text-custom-black">Enquiry Now</h5>
                                        <form>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="fs-14 text-custom-black fw-500">Your
                                                            Destination</label>
                                                        <input type="text" name="#"
                                                            class="form-control form-control-custom"
                                                            placeholder="Your Destination and Hotel Name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="fs-14 text-custom-black fw-500">Check In</label>
                                                        <div class="input-group group-form">
                                                            <input type="text" name="#"
                                                                class="form-control form-control-custom datepickr"
                                                                placeholder="mm/dd/yy" readonly="">
                                                            <span class="input-group-append">
                                                                <i class="far fa-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="fs-14 text-custom-black fw-500">Check Out</label>
                                                        <div class="input-group group-form">
                                                            <input type="text" name="#"
                                                                class="form-control form-control-custom datepickr"
                                                                placeholder="mm/dd/yy" readonly="">
                                                            <span class="input-group-append">
                                                                <i class="far fa-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <button type="submit"
                                                        class="btn-first btn-submit full-width btn-height">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="hotel-grid mb-xl-30"
                                        *ngFor="let hotel of getHotelByCategory(item.category) | slice:0:1">
                                        <div class="hotel-grid-wrapper bx-wrapper">
                                            <div class="image-sec p-relative">
                                                <a routerLink="/hotel-details/{{hotel.id}}">
                                                    <img [src]="hotel.image[0]" class="full-width" [alt]="hotel.title">
                                                </a>
                                            </div>
                                            <div class="hotel-grid-caption padding-20 bg-custom-white p-relative">
                                                <h4 class="title fs-16"><a routerLink="/hotel-details/{{hotel.id}}"
                                                        class="text-custom-black">{{hotel.title}}<small
                                                            class="text-light-dark">{{hotel.location}}</small></a></h4>
                                                <span class="price"><small>avg/night</small>${{hotel.price |
                                                    number:'1.0-0'}}</span>
                                                <div class="feedback">
                                                    <div class="ratings">
                                                        <ngb-rating [max]="5" [(rate)]="hotel.rating" [readonly]="true"
                                                            class="rating">
                                                            <ng-template let-fill="fill" let-index="index">
                                                                <span class="text-light-white fs-12"
                                                                    [class.text-yellow]="fill === 100"><i
                                                                        class="fas fa-star"></i></span>
                                                            </ng-template>
                                                        </ngb-rating>
                                                    </div>
                                                    <span class="review fs-12 text-light-dark">{{hotel.reviews.length}}
                                                        reviews</span>
                                                </div>
                                                <p class="text-light-dark">Nunc cursus libero purus ac congue arcu
                                                    cursus ut sed vitae pulvinar massa idporta nequetiam.</p>
                                                <div class="action">
                                                    <a routerLink="/hotel-details/{{hotel.id}}"
                                                        class="btn-second btn-small">View</a>
                                                    <a routerLink="/booking" class="btn-first btn-submit">Book</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="need-help bx-wrapper padding-20">
                                        <h5 class="text-custom-black">Need Help?.</h5>
                                        <p class="text-light-dark">We would be more than happy to help you. Our team
                                            advisor are 24/7 at your service to help you.</p>
                                        <ul class="custom">
                                            <li class="text-custom-blue fs-18">
                                                <i class="fas fa-phone-alt"></i>
                                                <a href="#" class="text-light-dark">(+347) 123 456 7890</a>
                                            </li>
                                            <li class="text-custom-blue fs-18">
                                                <i class="fas fa-envelope"></i>
                                                <a href="#" class="text-light-dark fs-14">example@example.com</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>