<app-header></app-header>
<app-breadcrumbs></app-breadcrumbs>
<app-about-us></app-about-us>
<app-counter></app-counter>
<section class="section-padding why-choose-testimonials">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <app-why-us></app-why-us>
            </div>
            <div class="col-xl-7 col-lg-6">
                <app-testimonials></app-testimonials>
            </div>
        </div>
    </div>
</section>
<app-team></app-team>
<app-partners></app-partners>
<app-footer></app-footer>