<section class="section-padding parallax our-team">
  <div class="overlay overlay-bg-black"></div>
  <div class="container">
    <div class="section-header">
      <div class="section-heading">
        <h3 class="text-custom-white">Omra by Toor</h3>
        <div class="section-description">
          <p class="text-custom-white">Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text.</p>
        </div>
        <a routerLink="/booking" class="btn-first btn-small">View </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ngx-slick-carousel [config]="settings" class="team-slider arrow-layout-2 row">
          <!-- Data -->
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
</section>
