<div class="coming-soon parallax">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-4">
                <div class="full-height coming-soon-img">
                    <img src="assets/images/soon.jpg" class="image-fit" alt="img">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="full-height coming-soon-text">
                    <h1 class="text-custom-black">Coming Soon</h1>
                    <div class="counter">
                        <countdown [text]="text" units="Days | Hours | Minutes | Seconds" end="August 1, 2022" class="d-block w-100"></countdown>
                    </div>
                    <div class="coming-soon-contact">
                        <ul class="custom-flex">
                            <li>
                                <label class="text-light-dark fw-600 d-block">Phone:</label>
                                <a href="tel:" class="text-custom-black fw-600">(+123) 123 4567 890</a>
                            </li>
                            <li>
                                <label class="text-light-dark fw-600 d-block">Address:</label>
                                <a href="#" class="text-custom-black fw-600">AENEAN VULPUTATE PORTTITOR</a>
                            </li>
                            <li>
                                <label class="text-light-dark fw-600 d-block">Email Us:</label>
                                <a href="mailto:" class="text-custom-black fw-600">example@example.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="newsletter-form">
                        <div class="form-group">
                            <div class="input-group group-form">
                                <input type="text" name="#" class="form-control form-control-custom"
                                    placeholder="Email Id">
                                <button type="submit" class="input-group-append">
                                    Send
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="social-media">
                        <ul class="custom-flex">
                            <li>
                                <a href="#" class="text-light-dark">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-light-dark">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-light-dark">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-light-dark">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-light-dark">
                                    <i class="fab fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-light-dark">
                                    <i class="fab fa-vimeo"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>