.menu-item-has-children .sub-menu {


  z-index: 1000;

}
/* Style pour aligner les sous-menus des destinations horizontalement */
.destinations-submenu {
  display: flex;
  /*flex-wrap: wrap;*/
  flex-direction: row; /* Alignement horizontal */
  gap: 10px; /* Espace entre les éléments */
  list-style: none; /* Supprimer les puces */
  padding: 0; /* Supprimer le padding par défaut */
  margin: 0; /* Supprimer la marge par défaut */
}

.destinations-submenu li {
  margin: 0; /* Supprimer la marge des éléments de liste */
}
