<section class="section-padding bg-light-white our_articles">
    <div class="container">
        <div class="section-header">
            <div class="section-heading">
                <h3 class="text-custom-black">Our Blog</h3>
                <div class="section-description">
                    <p class="text-light-dark">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ngx-slick-carousel [config]="settings" class="blog-slider arrow-layout-2 row">
                    <!-- article -->
                    <article ngxSlickItem class="col-12 post slide-item" *ngFor="let item of getRecentPost()">
                        <div class="post-wrapper bx-wrapper">
                            <div class="post-img animate-img">
                                <a routerLink="/blog-details/{{item.id}}">
                                    <img [src]="item.image[0]" class="full-width" [alt]="item.title">
                                </a>
                                <div class="post-date" [innerHtml]="getDateInitials(item.postdate)">
                                </div>
                            </div> 
                            <div class="blog-meta padding-20 bg-custom-white p-relative">
                                <div class="post-meta mb-xl-20">
                                    <a routerLink="/blog-details/{{item.id}}" class="text-light-dark mr-1">
                                        <span class="text-custom-blue">
                                            <i class="fas fa-comment"></i>
                                        </span> {{item.reviews.length}} Comments
                                    </a>
                                    <a routerLink="/blog-details/{{item.id}}" class="text-light-dark mr-1">
                                        <span class="text-custom-blue">
                                            <i class="fas fa-thumbs-up"></i>
                                        </span> {{item.likes}} Likes
                                    </a>
                                </div>
                                <div class="post-heading">
                                    <h2>
                                        <a routerLink="/blog-details/{{item.id}}" class="text-custom-black fw-600 fs-20">{{item.title}}</a>
                                    </h2>
                                    <p class="text-light-dark no-margin">{{item.shorttext}}...</p>
                                </div>
                            </div>
                            <div class="post-footer">
                                <div class="post-author" *ngFor="let author of getAuthor(item.author)">
                                    <cite class="text-custom-black">Post By <a routerLink="/blog/author/{{author.id}}">{{author.name}}</a></cite>
                                </div>
                                <a routerLink="/blog-details/{{item.id}}" class="text-custom-blue fs-14 fs-600">Read More</a>
                            </div>
                        </div>
                    </article>
                    <!-- article -->
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</section>