<section class="section-padding bg-light-white">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="listing-top-heading mb-xl-20">
          <h6 class="no-margin text-custom-black">Showing {{annonces.length}} Results</h6>
        </div>
      </div>
      <!-- Data -->
      <div class="col-lg-4 col-md-6" *ngFor="let annonce of annonces | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
        <div class="flights-grid mb-xl-30">
          <div class="flights-grid-wrapper bx-wrapper">
            <div class="image-sec animate-img">
              <!-- Carrousel d'images -->
              <ngb-carousel *ngIf="annonce.voyage.images && annonce.voyage.images.length > 0"
                            [showNavigationArrows]="true"
                            [showNavigationIndicators]="true">
                <ng-template ngbSlide *ngFor="let image of annonce.voyage.images">
                  <img [src]="image" class="d-block w-100" alt="Image du voyage">
                </ng-template>
              </ngb-carousel>
              <!-- Message si aucune image n'est disponible -->
              <div *ngIf="!annonce.voyage.images || annonce.voyage.images.length === 0" class="no-image">
                Aucune image disponible
              </div>
            </div>
            <div class="flights-grid-caption padding-20 bg-custom-white p-relative">
              <div class="heading-sec">
                <div class="left-side">
                  <i class="fas fa-plane text-gray"></i>
                  <div class="title">
                    <h4 class="fs-16">
                      <a routerLink="/annonce-details/{{annonce.idAnnonce}}" class="text-custom-black">
                        {{annonce.voyage.titreVoyage}}
                      </a>
                      <span class="text-light-dark">
                        Par {{annonce.concessionnaire.nomGerant}}
                      </span>
                    </h4>
                  </div>
                </div>
                <div class="right-side">
                  <span class="price">
                    <small>From</small>${{annonce.voyage.prix | number:'1.0-0'}}
                  </span>
                </div>
              </div>
              <div class="action">
                <a routerLink="/annonce-details/{{annonce.idAnnonce}}" class="btn-second btn-small">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Data -->
    </div>
    <div class="row">
      <div class="col-12">
        <nav class="pagination_layout section-padding-top">
          <ul class="pagination justify-content-center">
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>

