<app-header></app-header>

<div class="section-padding contact-form-map d-flex justify-content-center align-items-center vh-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="card shadow-lg p-5 border-0 rounded-lg reset-password-card">
          <div class="section-header text-center">
            <div class="section-heading">
              <h3 class="text-custom-black">Réinitialisation du mot de passe</h3>
            </div>
          </div>
          <form class="mb-md-80" (ngSubmit)="onSubmitResetPassword()">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="newPassword">Nouveau mot de passe :</label>
                  <input
                    type="password"
                    id="newPassword"
                    [(ngModel)]="newPassword"
                    name="newPassword"
                    class="form-control form-control-custom input-field"
                    required
                    placeholder="Entrez votre nouveau mot de passe"
                  />
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label for="confirmPassword">Confirmez le nouveau mot de passe :</label>
                  <input
                    type="password"
                    id="confirmPassword"
                    [(ngModel)]="confirmPassword"
                    name="confirmPassword"
                    class="form-control form-control-custom input-field"
                    required
                    placeholder="Confirmez votre nouveau mot de passe"
                  />
                </div>
              </div>

              <!-- Affichage des messages de succès -->
              <div class="col-md-12" *ngIf="successMessage">
                <div class="alert alert-success success-message" role="alert">
                  {{ successMessage }}
                </div>
              </div>

              <!-- Affichage des messages d'erreur -->
              <div class="col-md-12" *ngIf="errorMessage">
                <div class="alert alert-danger error-message" role="alert">
                  {{ errorMessage }}
                </div>
              </div>
              <div class="col-md-12 text-center">
                <button type="submit" class="btn-first btn-submit reset-password-btn">Réinitialiser le mot de passe</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
