<section class="section-padding bg-light-white contact-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="contact-info-box mb-md-40">
                    <i class="flaticon-placeholder"></i>
                    <h6 class="text-theme fw-600">13th Street. 47 W 13th St,<br>  New York, NY 10011, USA</h6>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="contact-info-box mb-md-40">
                    <i class="flaticon-telephone-1"></i>
                    <h6 class="text-theme fw-600"><a href="#" class="text-theme">(+347) 123 4567 890</a><br>  Mon-Sat 9:00am-5:00pm</h6>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="contact-info-box">
                    <i class="flaticon-envelope"></i>
                    <h6 class="text-theme fw-600"><a href="#" class="text-theme">example@example.com</a><br>  24 X 7 online support</h6>
                </div>
            </div>
        </div>
    </div>
</section>