<div class="section-padding contact-form-map">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="section-header">
                    <div class="section-heading">
                        <h3 class="text-custom-black">Get In Touch</h3>
                        <div class="section-description">
                            <p class="text-light-dark">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                        </div>
                    </div>
                </div>
                <form class="mb-md-80" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" formControlName="name" class="form-control form-control-custom" placeholder="Name"
                                    required="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" formControlName="email" class="form-control form-control-custom"
                                    placeholder="Email I'd" required="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" formControlName="subject" class="form-control form-control-custom"
                                    placeholder="Subject" required="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" formControlName="phone" class="form-control form-control-custom"
                                    placeholder="Phone No." required="">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea formControlName="message" rows="5" class="form-control form-control-custom"
                                    placeholder="Message" required=""></textarea>
                            </div>
                            <button type="submit" class="btn-first btn-submit" [disabled]="!contactForm.valid">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-5">
                <div class="contact-map full-height">
                    <iframe title="contactmap" class="full-height"
                        src="https://maps.google.com/maps?q=university%20of%20san%20francisco&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>