<div class="filter-options">
  <label for="status">Filtrer par statut:</label>
  <select id="status" [(ngModel)]="selectedStatus" (change)="applyFilter()">
    <option value="all">Tous</option>
    <option value="en attente">En attente</option>
    <option value="Accepter">Accepter</option>
    <option value="Rejeter">Rejeter</option>
    <option value="Bloquer">Bloquer</option>
  </select>
</div>

<table class="table">
  <thead class="custom-thead">
  <tr>
    <th>Nom complet</th>
    <th>Email</th>
    <th>Statut</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let client of filteredClients">
    <td>{{ client.nomComplet }}</td>
    <td>{{ client.email }}</td>
    <td>
      <!-- Utilisation de ngClass pour appliquer les badges en fonction du statut -->
      <span [ngClass]="{
            'badge-warning': client.statut?.statut === 'en attente',
            'badge-success': client.statut?.statut === 'Accepter',
            'badge-danger': client.statut?.statut === 'Rejeter',
            'badge-secondary': client.statut?.statut === 'Bloquer'
          }">
          {{ client.statut?.statut || 'Statut inconnu' }}
        </span>
    </td>
    <td>
      <button class="btn btn-info btn-sm" (click)="consulterDetails(client.idUtilisateur)">
        Consulter les détails
      </button>
      <button class="btn btn-success btn-sm" (click)="updateStatut(client, 'Accepter')">
        ✔ Accepter
      </button>
      <button class="btn btn-danger btn-sm" (click)="updateStatut(client, 'Rejeter')">
        ✖ Rejeter
      </button>
      <button class="btn btn-warning btn-sm" (click)="updateStatut(client, 'Bloquer')">
        ⚠ Bloquer
      </button>
    </td>
  </tr>
  </tbody>
</table>
